/* czcionka domyślna */
html{
    color:var(--default-text-color);
    font-family: var(--title-font);
}

/* czcionka tekstowa */
.person_Tag, #stat, #stat_transpose, #txt, .slides{
    font-family: var(--main-font);
    font-size: 16px;
}

/* STATYSTYKA */
#stat{
    display: block;
    border-radius: 30px;
    width: 640px;
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: var(--light-wood-image);
    text-align: center;
    padding: 10px;
}
#stat table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

#stat table td {border: 1px solid var(--default-text-color);}
#stat table tr:first-child td {border-top: 0;}
#stat table tr:last-child td {border-bottom: 0;}
#stat table tr td:first-child {border-left: 0;}
#stat table tr td:last-child {border-right: 0;}

#stat table tr {
    height: 100px;
}
#stat table td {
    width: 25%;
}
#stat table tr:nth-child(1) {
    font-size: 40px;
    text-shadow: 2px 2px 5px rgb(44, 21, 6);
}
#stat table tr:nth-child(2) {
    font-size: 20px;
}

/* transponowana */
#stat_transpose{
    display: none;
    border-radius: 20px;
    width: 400px;
    height: 360px;
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: var(--light-wood-image);
    text-align: center;
    padding: 10px;
}
#stat_transpose table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

#stat_transpose table td {border: 1px solid var(--default-text-color);}
#stat_transpose table tr:first-child td {border-top: 0;}
#stat_transpose table tr:last-child td {border-bottom: 0;}
#stat_transpose table tr td:first-child {border-left: 0;}
#stat_transpose table tr td:last-child {border-right: 0;}

#stat_transpose table tr {
    height: 25%;
}
#stat_transpose table td:nth-child(1) {
    font-size: 40px;
    width: 30%;
    text-shadow: 2px 2px 5px rgb(44, 21, 6);
}
#stat_transpose table td:nth-child(2) {
    font-size: 22px;
}

/* SLAJDY */ 
.slides {
    padding: 3em 0;
    display: grid;
    grid-gap: 2em;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em,1fr);
}
.slides div{
    text-align: center;
    font-size: 18px;
    display: table;
    height: 400px;
    box-sizing: border-box;
    padding: 5px;
}
.slides p{
    display: table-cell; 
    vertical-align: middle;
}
.slides img{
    border-radius: 30px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    width: 400px;
}
.from-left {
    grid-column: 2 / 3;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.from-right {
    grid-column: 3 / 4;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}
.from-up{
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
}
.from-down{
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
}
.from-left, .from-right, .from-up, .from-down, .from-zero {
    transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in, -webkit-transform 400ms ease-in;
    opacity: 0;
}
.from-left.appear, .from-right.appear, .from-up.appear, .from-down.appear, .from-zero.appear {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
hr{
    border-top: 2px dotted var(--default-text-color);
    width: 500px;
    margin: 0 auto;
    display: none;
}

/* MAPA ZDJĘCIOWA */
#us_small, #us_default{
    display: none;
}
.img_team{ /* zdjęcie */
    display: block;
    margin: 60px auto;
    border-radius: 30px;
}

#captions1{  /* DIV podpisy */
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    display: flex;
    justify-content: center;
}
#captions1 .person_Tag:nth-child(1){ margin-right: -70px; margin-left: 50px; }
#captions1 .person_Tag:nth-child(2){ margin-right: -10px; }
#captions1 .person_Tag:nth-child(3){ margin-right: -35px; }
#captions1 .person_Tag:nth-child(4){ margin-right: -25px; }
#captions1 .person_Tag:nth-child(5){ margin-right: -60px; }

#captions2{
    position: absolute;
    top: 500px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
#captions2 .person_Tag:nth-child(1){ margin-right: 60px; }

.person_Tag{ /* podpisy */
    width: 120px;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-image: url(../images/main_nameplates.jpg);
    border: 1px solid rgb(105, 53, 11);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    opacity: 0;
    text-align: center;
}
.person_Tag p:first-child{
    border-bottom: 2px dotted rgb(105, 53, 11);
} 

@media only screen and (max-width: 1200px) 
{
    .slides {
        display: flex;
    }
    .slides div{
        font-size: 16px;
        display: table;
    }
    .slides p{
        display: table-cell; 
        vertical-align: middle;
    }
    .from-left {
        margin-left: 1em;
    }
    .from-right {
        margin-right: 1em;
    }
}
  
@media only screen and (max-width: 1000px) 
{
    .slides p{
        font-size: 16px;
    }
}

@media only screen and (max-width: 850px) 
{
    /* transponowanie tabeli */
    #stat{
        display: none;
    }
    #stat_transpose{
        display: block;
    }

    .slides {
        padding: 2em 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .slides div{
        font-size: 20px;
        height: auto;
        width: 400px;
    }
    .slides p{
        display: table-cell; 
        vertical-align: middle;
    }
    .from-left {
        margin-left: 0em;
    }
    .from-right {
        margin-right: 0em;
    }
    hr{
        display: block;
    }
}

@media only screen and (max-width: 1250px) 
{
    .img_team{
        width: 700px;
    }
    #us_big, #us_default{
        display: none;
    }
    #us_small{
        display: block;
    }
    #captions1{  /* DIV podpisy */
        top: 70px;
    }
    #captions1 .person_Tag:nth-child(1){ margin-right: -90px; margin-left: 20px; }
    #captions1 .person_Tag:nth-child(2){ margin-right: -40px; }
    #captions1 .person_Tag:nth-child(3){ margin-right: -55px; }
    #captions1 .person_Tag:nth-child(4){ margin-right: -45px; }
    #captions1 .person_Tag:nth-child(5){ margin-right: -80px; }
    
    #captions2{
        top: 360px;
    }
    #captions2 .person_Tag:nth-child(1){ margin-right: 50px; }
}

@media only screen and (max-width: 880px) 
{
    .img_team{
        width: 90%;
    }
    #us_big, #us_small{
        display: none;
    }
    #us_default{
        display: block;
    }
}