*{
    margin: 0;
}

/* BACKGROUND */
body{
    background-image: url(../images/main_bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* TXT */
h1, h2, p{
    color:rgb(82, 42, 9);
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

/* HEADER */
h1, h2{
    position: relative;
    top: 25px;
}h1
{
    font-size: 48px;
}
#header{
    background-image: url(../images/main_nameplates.jpg);
    width: 420px;
    height: 150px;
    border: 2px solid rgb(105, 53, 11);
    border-radius: 20px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* MENU */
#stick{
    position: absolute;
    bottom: 0;
    left: 300px;
    height: 500px;
    width: 30px;
}
ul{ 
    position: absolute;
    bottom: 100px;
    left: 190px;
    z-index: 4;
    list-style-type: none; 
    padding: 1em;
} 
ul li{ 
    margin: 0.6em;
    perspective: 100px;
    position: relative;
} 
ul li:nth-child(even){  
    right: 18px;
} 
ul li:nth-child(odd){   
    left: 18px;
}
ul li a{ 
    text-decoration: none; 
    display: block; 
    height: 1.2em; 
    width: 10.2em; 
    padding: 1em;
    transition: transform .15s linear; 
    top: 5px;
    transform-style: preserve-3d;
    background-size: cover;
} 

ul li:nth-child(1) a{ background-image: url(../images/nameplates/nameplate_R_red.png); } 
ul li:nth-child(2) a{ background-image: url(../images/nameplates/nameplate_L_blue.png); } 
ul li:nth-child(3) a{ background-image: url(../images/nameplates/nameplate_R_yellow.png); }
ul li:nth-child(4) a{ background-image: url(../images/nameplates/nameplate_L_green.png); }  
ul li:nth-child(5) a{ background-image: url(../images/nameplates/nameplate_R_black.png); } 
ul li:nth-child(6) a{ background-image: url(../images/nameplates/nameplate_L_purple.png); }

ul li:nth-child(odd) a  { transform: rotateY(-10deg); }
ul li:nth-child(even) a { transform: rotateY(10deg); }
ul li a:hover           { transform: rotateY(0deg); }

ul li:nth-child(odd) a p{
    position: relative;
    right: 18px;
}
ul li:nth-child(even) a p{
    position: relative;
    left: 18px;
}

/* RESPONSIVITY (IMITACJA) */
@media only screen and (max-height: 680px) 
{ 
	h1, h2 { top: 20px; }
    h2 { font-size: 20px; }
    h1 { font-size: 36px; }
    p  { font-size: 14px; }
    #header{
        width: 315px;
        height: 112px;
        border-radius: 15px;
    }  
    #stick{
        height: 400px;
        width: 25px;
        left: 250px;
    }
    ul{ 
        bottom: 55px;
        left: 150px;
    } 
    ul li a{ 
        height: 1.1em; 
        width: 9em; 
        padding: 0.8em;
        top: 4px;
    } 
    ul li{ 
        margin: 0.6em; 
    }  
    ul li:nth-child(even){ 
        right: 15px;
    } 
    ul li:nth-child(odd){   
        left: 15px;
    }
}
@media only screen and (max-height: 600px) 
{ 
	h1, h2 { top: 20px; }
    h2 { font-size: 20px; }
    h1 { font-size: 36px; }
    p  { font-size: 14px; }
    #header{
        width: 315px;
        height: 112px;
        border-radius: 15px;
    }  
    #stick{
        height: 375px;
        width: 20px;
        left: 230px;
    }
    ul{ 
        bottom: 55px;
        left: 135px;
    } 
    ul li a{ 
        height: 0.72em; 
        width: 7.5em; 
        padding: 0.8em;
        top: 3px;
    } 
    ul li{ 
        margin: 0.75em; 
    }  
    ul li:nth-child(even){
        right: 15px;
    } 
    ul li:nth-child(odd){   
        left: 15px;
    }
}
@media only screen and (max-height: 500px) 
{ 
	h1, h2 { top: 14px; }
    h2 { font-size: 14px; }
    h1 { font-size: 24px; }
    p  { font-size: 12px; }
    #header{
        width: 200px;
        height: 80px;
        border-radius: 10px;
    }  
    #stick{
        display: none;
    }
    ul{ 
        bottom: 20px;
        width: 100%;
        padding: 1em;
        left: 0;
        right: 0;
        margin: 0 auto;
    } 
    ul li{ 
        margin: 0.6em;
        float: left;
        position: absolute;
        
    } 
    ul li a{ 
        height: 0.8em; 
        width: 8em; 
        padding: 0.9em;
        top: 5px;
    } 

    ul li:nth-child(even){ 
        perspective: 100px;
        position: relative;
        right: 0px;
    } 
    ul li:nth-child(odd){   
        perspective: 100px;
        position: relative;
        left: 0px;
    }
    ul li:nth-child(1) a { transform: rotateY(0deg); background-image: url(../images/nameplate_R_red.png);}
    ul li:nth-child(2) a { transform: rotateY(0deg); background-image: url(../images/nameplate_R_yellow.png);}
    ul li:nth-child(3) a { transform: rotateY(0deg); background-image: url(../images/nameplate_R_black.png);}
    ul li:nth-child(4) a { transform: rotateY(0deg); background-image: url(../images/nameplate_R_blue.png);}
    ul li:nth-child(5) a { transform: rotateY(0deg); background-image: url(../images/nameplate_R_green.png);}
    ul li:nth-child(6) a { transform: rotateY(0deg); background-image: url(../images/nameplate_R_purple.png);}
    
    ul li:nth-child(odd) a p{
        position: relative;
        right: 18px;
    }
    ul li:nth-child(even) a p{
        position: relative;
        left: -18px;
    }
}