/* czcionka domyślna */
html{
    color:var(--default-text-color);
    font-family: var(--title-font);
}

/* czcionka tekstowa */
#txt{
    font-family: var(--main-font);
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}