p,h1,h2,h3{
    color:var(--default-text-color);
}

#filters{
    border-bottom: 2px outset var(--default-text-color);
    padding: 0.5em 0;
    margin-bottom: 10px;
    font-family: Verdana, sans-serif; 
}
#filters h3{
    margin: 0.5em;
    text-align: center;
    font-family: var(--title-font);
    font-size: 24px;
}
.filter_group{
    padding: 0.5em;
}
.ButtonDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.ButtonDiv .btn{
    padding: 1em;
    margin: 0.5rem 0.5rem;
    border: 1px solid var(--default-text-color);
    background-image: var(--light-wood-image);
    transition-property: box-shadow;
    transition-duration: 0.3s;
    color:var(--default-text-color);
    border-radius: 50%;
    font-family: Helvetica, sans-serif;
    width: 150px;
}
.ButtonDiv .btn.active{
    color: var(--navbar-text-color);
    background-image: var(--navbar-bg-image);
}
.btn:hover{
    box-shadow: 0 0 15px 3px var(--default-text-color);
}
#find_div{
    margin: 0.5rem 1em;
}
#find_div .btn{
    height: 2em;
    width: 2em;
    font-size: 18px;
    border: 1px solid var(--default-text-color);
    background-image: var(--light-wood-image);
    color:var(--default-text-color);
    border-radius: 20%;
}
#find_div .btn:active{
    color: #f5b507;
    background-image: var(--navbar-bg-image);
}
#find_input{
    height: 2em;
    font-size: 18px;
    width: 40%;
    border: 1px solid var(--default-text-color);
    background-image: var(--light-wood-image);
    border-radius: 10px;
    padding-left: 10px;
    color: var(--default-text-color);
}

.FDiv{
    border-top: 3px outset var(--default-text-color);;
    border-bottom: 3px outset var(--default-text-color);;
    padding: 0.5em;
}
.FDiv h2{
    margin-bottom: 0.5em;
    text-align: center;
    font-family: var(--title-font);
    font-size: 22px;
}
.FDiv h3{
    margin: 0.2em 0;
    font-family: var(--main-font);
    font-size: 17px;
}
.FDiv li{
    list-style: none;
    font-family: var(--main-font);
}
.FDiv p{
    font-family: var(--main-font);
}
.FDiv #easy{
    color: green;
}
.FDiv #medium{
    color: rgba(255, 208, 0, 0.774);
}
.FDiv #hard{
    color: red;
}