
:root{
    --navbar-text-color: #f5b507;
    --navbar-height: 50px;
    --navbar-bg-image: url(../images/navbarbg.png);
    --body-bg-image: url(../images/subpagebg2.jpg);
}

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: var(--body-bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    padding: 0px;
    margin-top: 10px;
    width: 100%;
    height: var(--navbar-height);
    background-image: var(--navbar-bg-image);
    box-shadow: 0px 0px 10px 5px black;
}
nav div{
    line-height: var(--navbar-height);
    height: 100%;
    width: 170px;
    background-image: url(../images/nameplate4.png);
    background-size: auto 100%;
    display: inline-block;
    font-family: sans-serif;
    font-size: 18px;
    padding-left: 20px;
}
nav > label{
    position: absolute;
    line-height: var(--navbar-height);
    height: 100%;
    width: 100px;
    font-size: 20px;
    font-family: sans-serif;
    color: var(--navbar-text-color);
    text-shadow: 2px 2px 4px #000;
    display: inline-block;
    text-align: center;
    vertical-align: center;
}
nav a{
    line-height: var(--navbar-height);
	height: 100%;
    width: 160px;
	font-size: 18px;
	display: inline;
	text-decoration: none;
    color: var(--navbar-text-color);
    float: right;
}
nav a i{
    float: right;
    margin: 15px 10px;
    vertical-align: center;
}
#content{
    position: absolute;
    height: 1600px;
    width: 80%;
    left: 50%;
    transform:translateX(-50%);
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0px 0px 20px 5px black;
    background: white;
}
@media only screen and (max-width: 600px) {
    #content {
        margin-top: 20px;
        width: 100%;
        box-shadow: 0px 0px 5px 5px black;
    }
    nav{
        box-shadow: 0px 0px 5px 3px black;
    }
  }

@media only screen and (min-width: 1600px) {
    #content {
      width: 1200px;
    }
  }