
:root{
    --navbar-text-color: #f5b507;
    --navbar-height: 50px;
    --navbar-bg-image: url(../images/navbarbg.png);
    --body-bg-image: url(../images/subpagebg2.jpg);
    --light-wood-image: url(../images/main_nameplates.jpg);
    --default-text-color: rgb(82, 42, 9);
}

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: var(--body-bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* Nav bar   */
nav {
    padding: 0px;
    margin-top: 10px;
    width: 100%;
    height: var(--navbar-height);
    background-image: var(--navbar-bg-image);
    box-shadow: 0px 0px 10px 5px black;
    font-family: cursive;
}
/* Subpage nameplate */
nav > div{
    line-height: var(--navbar-height);
    height: 100%;
    width: 170px;
    background-size: auto 100%;
    display: inline-block;
    font-family: 'Kaushan Script', cursive;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 20px;
}
/* all links */
nav a{
    line-height: var(--navbar-height);
	height: 100%;
	font-size: 17px;
	display: inline-block;
	text-decoration: none;
    color: var(--navbar-text-color);
}

nav ul{
    position: absolute;
    right: 175px;
    display: inline-block;
}
nav ul li {
    position: relative;
    list-style-type: none;
    line-height: var(--navbar-height);
    height: 100%;
	font-size: 18px;
    color: var(--navbar-text-color);
    display: inline-block;
    margin: 0;
    padding: 0 5px;
}
nav ul li:nth-child(1){
    display: none;
}
nav ul li:hover{
    box-shadow: 0px 0px 50px 2px black;
}
/* main page link */
nav > a {
    width: 160px;
    display: inline;
    float: right;
    padding: 0 5px;
}
nav > a:hover{
    box-shadow: 0px 0px 50px 2px black;
}
nav > a i{
    float: right;
    margin: 15px 10px;
    vertical-align: center;
}
/* main content div */
#content{
    position: absolute;
    min-height: 800px;
    width: calc(80% + 120px);
    left: 50%;
    transform:translateX(-50%);
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0px 0px 20px 5px black;
    background: hsla(0, 0%, 100%, 80%);;
}

/* responsivity */
@media only screen and (max-width: 600px) {
    #content {
        margin-top: 20px;
        width: 100%;
        box-shadow: 0px 0px 5px 5px black;
    }
    nav{
        box-shadow: 0px 0px 5px 3px black;
    }
  }

@media only screen and (min-width: 1600px) {
    #content {
      width: 1400px;
    }
  }
@media only screen and (max-width: 800px) {
    nav ul li{
        display: none;
    }
    nav ul li:nth-child(1){
        display:inline-block;
        justify-content: right;
    }
    nav ul:hover{
        display:block;
        background-image: var(--navbar-bg-image);
        z-index: 2;
        position: absolute;
        margin-top: -50px;
    }
    nav ul:hover li{
        display: block;
    }
    nav ul:hover li:nth-child(1){
        display: block;
    }
}

#red{
    background-image: url(../images/nameplate_R_red.png);
}
#blue{
    background-image: url(../images/nameplate_R_blue.png);
}
#green{
    background-image: url(../images/nameplate_R_green.png);
}
#yellow{
    background-image: url(../images/nameplate_R_yellow.png);
}
#black{
    background-image: url(../images/nameplate_R_black.png);
}
#purple{
    background-image: url(../images/nameplate_R_purple.png);
}