
:root{
    --title-font: 'Kaushan Script', cursive;
    --main-font: Verdana, sans-serif;
    --navbar-text-color: #e9d6c6;
    --navbar-height: 50px;
    --navbar-bg-image: url(../images/navbarbg.png);
    --body-bg-image: url(../images/subpagebg2.jpg);
    --light-wood-image: url(../images/main_nameplates.jpg);
    --default-text-color: rgb(82, 42, 9);
}

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: var(--body-bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* Nav bar   */
nav {
    padding: 0px;
    margin-top: 10px;
    width: 100%;
    height: var(--navbar-height);
    background-image: var(--navbar-bg-image);
    box-shadow: 0px 0px 10px 5px black;
    font-family: var(--title-font);
}
/* Subpage nameplate */
nav > div:first-child{
    line-height: var(--navbar-height);
    height: 100%;
    width: 180px;
    background-size: auto 100%;
    display: inline-block;
    font-family: 'Kaushan Script', cursive;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 10px;
}
/* all links */
nav a{
    line-height: var(--navbar-height);
	height: 100%;
	font-size: 17px;
	display: inline-block;
	text-decoration: none;
    text-transform: uppercase;
    transition-property: box-shadow;
    transition-duration: 0.3s;
    color: var(--navbar-text-color);
}
/* Static Menu */
#StaticMenu{
    position: absolute;
    right: 205px;
    display: inline-block;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}
#StaticMenu li {
    position: relative;
    list-style-type: none;
    line-height: var(--navbar-height);
    height: 100%;
	font-size: 18px;
    color: var(--navbar-text-color);
    display: inline-block;
    margin: 0;
    transition-property: box-shadow;
    transition-duration: 0.3s;
    padding: 0 5px;
    border-radius: 10px;
    
}

#StaticMenu li:hover{
    box-shadow: 0px 0px 50px 2px rgb(59, 28, 2);
}
/*Dynamic Menu*/
#DynamicMenu{
    display: none;
    position: absolute;
    right: 200px;
    z-index: 2;
    text-align: center;
    width: 40px;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}
#DynamicMenu i{
    line-height: var(--navbar-height);
	height: 100%;
	font-size: 17px;
	display: inline-block;
    color: var(--navbar-text-color);
}

#DynamicMenu ul{
    background-image: var(--navbar-bg-image);
    visibility: hidden;
    list-style: none;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: 0.3s;
    position: absolute;
}
#DynamicMenu ul li{
    transition-property: box-shadow;
    transition-duration: 0.3s;
    padding: 0 10px;
}
#DynamicMenu ul li:hover{
    box-shadow: 0px 0px 50px 2px rgb(59, 28, 2);
}
#DynamicMenu:hover{
    box-shadow: 0px 0px 50px 2px rgb(59, 28, 2);
}
#DynamicMenu:hover ul{
    visibility: visible;
    transform: scaleY(1)
}

/* main page link */
nav > a {
    width: 190px;
    display: inline;
    float: right;
    padding: 0 5px;
}
nav > a:hover{
    box-shadow: 0px 0px 50px 2px rgb(59, 28, 2);
}
nav > a i{
    float: right;
    margin: 15px 10px;
    vertical-align: center;
}
/* main content div */
#content{
    position: absolute;
    width: calc(60% + 180px);
    left: 50%;
    transform:translateX(-50%);
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0px 0px 20px 5px black;
    background: hsla(0, 0%, 100%, 80%);;
}

#header{
    margin: 0 auto;
    text-align: center;
    border-bottom: 4px dotted var(--default-text-color);
    color: var(--default-text-color);
    padding: 5px;
    margin-bottom: 30px;
    width: 80%;
    font-family: var(--title-font);
}

/* responsivity */
@media only screen and (max-width: 450px) {
    #content {
        margin-top: 20px;
        width: 100%;
        box-shadow: 0px 0px 5px 5px black;
    }
    nav{
        box-shadow: 0px 0px 5px 3px black;
    }
  }

@media only screen and (min-width: 1700px) {
    #content {
      width: 1200px;
    }
  }
@media only screen and (max-width: 970px) {
    
    #DynamicMenu{
        display: inline-block;
    }
    #StaticMenu{
        display: none;
    }
}

#red{
    background-image: url(../images/nameplates/nameplate_R_red.png);
}
#blue{
    background-image: url(../images/nameplates/nameplate_R_blue.png);
}
#green{
    background-image: url(../images/nameplates/nameplate_R_green.png);
}
#yellow{
    background-image: url(../images/nameplates/nameplate_R_yellow.png);
}
#black{
    background-image: url(../images/nameplates/nameplate_R_black.png);
}
#purple{
    background-image: url(../images/nameplates/nameplate_R_purple.png);
}